
.app-element.app-element-modal-bio-heading .app-heading-title,
.app-element-modal-bio-name .app-heading-title {
  color:var( --global-color-primary );
  font-family:var( --global-typography-accent-font-family ), sans-serif;
  font-size:var( --global-typography-accent-font-size );
  font-weight:var( --global-typography-accent-font-weight );
  text-transform:var( --global-typography-fc0661c-text-transform );
}
.app-element.app-element-modal-bio-image {
  text-align: left;
  max-width: 100px;
}
.app-element-modal-bio-name {
  padding-left: 10px;
}
.app-element-bio-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.app-element-bio-info .bio-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bio-details .bio-details-title {
  color:var( --global-color-primary );
  font-family:var( --global-typography-accent-font-family ), sans-serif;
  font-size:var( --global-typography-accent-font-size );
  font-weight:var( --global-typography-accent-font-weight );
  text-transform:var( --global-typography-fc0661c-text-transform );
}
.bio-details .bio-details-meta {
  color:var( --global-color-primary );
  font-family:var( --global-typography-accent-font-family ), sans-serif;
  font-size:var( --global-typography-accent-font-size );
  font-weight:var( --global-typography-text-font-weight );
}
/* ========================== Media ========================================*/
@media(max-width:1024px) {
  .app-element.app-element-modal-bio-heading .app-heading-title,
  .app-element-modal-bio-name .app-heading-title,
  .bio-details .bio-details-title,
  .bio-details .bio-details-meta {
    font-size:var( --global-typography-accent-font-size );
  }
}
/*=================================================== 767 ====================================================*/
@media (max-width: 767px) {
  .app-element.app-element-modal-bio-heading .app-heading-title,
  .app-element-modal-bio-name .app-heading-title,
  .bio-details .bio-details-title,
  .bio-details .bio-details-meta {
    font-size:var( --global-typography-accent-font-size );
  }
}
