
.app-home .app-element.app-element-top-header > .app-container {
  max-width:1280px;
}
.app-home .app-element.app-element-top-header:not(.app-motion-effects-element-type-background),
.app-home .app-element.app-element-top-header > .app-motion-effects-container > .app-motion-effects-layer {
  background-color:var( --global-color-accent );
}
.app-home .app-element.app-element-top-header {
  transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding:10px 0 10px 0;
}
.app-home .app-element.app-element-top-header > .app-background-overlay {
  transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.app-bc-flex-widget .app-home .app-element.app-element-top-header-wrapper.app-column .app-widget-wrap {
  align-items:center;
}
.app-home .app-element.app-element-top-header-wrapper.app-column.app-element[data-element_type="column"] > .app-widget-wrap.app-element-populated {
  align-content:center;
  align-items:center;
}
.app-home .app-element.app-element-top-header-wrapper.app-column > .app-widget-wrap {
  justify-content:center;
}
.app-home .app-element.app-element-top-header-wrapper > .app-element-populated {
  padding:0;
}
.app-home .app-element.app-element-top-header-heading {
  text-align:center;
  width:auto;
  max-width:100%;
}
.app-home .app-element.app-element-top-header-heading .app-heading-title {
  color:#FFFFFF;
  font-family:var( --global-typography-7334ccd-font-family ), sans-serif;
  font-size:var( --global-typography-7334ccd-font-size );
  font-weight:var( --global-typography-7334ccd-font-weight );
  text-transform:var( --global-typography-7334ccd-text-transform );
}
.app-home .app-element.app-element-top-header-heading > .app-widget-container {
  padding:0;
}
.app-home .app-element.app-element-top-header-button .jeg-app-kit.jkit-button {
  text-align:center;
}
.app-home .app-element.app-element-top-header-button .jeg-app-kit.jkit-button .jkit-button-wrapper {
  padding:0;
  background-color:#02010100;
  border-style:solid;
  border-width: 0 0 0.5px 0;
  border-color:#FFFFFF;
  border-radius:0;
}
.app-home .app-element.app-element-top-header-button .jeg-app-kit.jkit-button:hover .jkit-button-wrapper {
  color: #dccccc;
}
.app-home .app-element.app-element-top-header-button .jeg-app-kit.jkit-button.icon-position-before .jkit-button-wrapper i,
.app-home .app-element.app-element-top-header-button .jeg-app-kit.jkit-button.icon-position-before .jkit-button-wrapper svg {
  margin-right:5px;
}
.app-home .app-element.app-element-top-header-button .jeg-app-kit.jkit-button.icon-position-after .jkit-button-wrapper i,
.app-home .app-element.app-element-top-header-button .jeg-app-kit.jkit-button.icon-position-after .jkit-button-wrapper svg {
  margin-left:5px;
}
.app-home .app-element.app-element-top-header-button > .app-widget-container {
  margin:0 0 0 8px;
}
.app-home .app-element.app-element-top-header-button {
  width:auto;
}
.app-home .app-element.app-element-main-header > .app-container {
  max-width:1280px;
}
/* Main Header */
.app-home .app-element.app-element-main-header {
  margin-top:0;
  margin-bottom:-90px;
  padding:20px 0 10px 0;
  z-index:10;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.05),inset 0 -1px 0 rgba(0,0,0,.1);
  /*background-color: rgba(194, 194, 194, 0.9);*/
  background-color: rgba(201, 199, 199, 0.8);
}

.app-bc-flex-widget .app-home .app-element.app-element-main-header-logo.app-column .app-widget-wrap {
  align-items:center;
}
.app-home .app-element.app-element-main-header-logo.app-column.app-element[data-element_type="column"] > .app-widget-wrap.app-element-populated {
  align-content:center;
  align-items:center;
}
.app-home .app-element.app-element-main-header-logo > .app-element-populated {
  padding:0;
}
.app-home .app-element.app-element-main-header-logo-image {
  text-align:left;
}
.app-home .app-element.app-element-main-header-logo-image img {
  width:29%;
}
/* Navbar */
.app-bc-flex-widget .app-home .app-element.app-element-main-header-navbar.app-column .app-widget-wrap {
  align-items:center;
}
.app-home .app-element.app-element-main-header-navbar.app-column.app-element[data-element_type="column"] > .app-widget-wrap.app-element-populated {
  align-content:center;
  align-items:center;
}
.app-home .app-element.app-element-main-header-navbar > .app-element-populated {
  padding:0;
}
.app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu > ul,
.app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper:not(.active) .jkit-menu,
.app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper:not(.active) .jkit-menu > li > a {
  display:flex;
}
.app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu {
  justify-content:center;
}
.app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .menu-item .sub-menu {
  left:unset;
  top:100%;
  right:unset;
  bottom:unset;
}
.app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .menu-item .sub-menu .menu-item .sub-menu {
  left:100%;
  top:unset;
  right:unset;
  bottom:unset;
}
.app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper {
  height:60px;
}
.app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu > li > a {
  font-family:"Overpass", sans-serif;
  font-size:16px;
  font-weight:300;
  text-transform:none;
  color:#FFFFFF;
}
/*Active link*/
.app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu > li > a.active {
  color: #e17a7a;
}
/*Hover link*/
.app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu > li:hover > a:not(.active) {
  color: #a27070;
}
.app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu > li > a svg {
  fill:#FFFFFF;
}
.app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children > a i,
.app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children > a svg {
  margin:0;
  border-radius:0;
  border-style:solid;
  border-width:0;
}
.app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li a {
  font-family:"Overpass", sans-serif;
  font-size:16px;
  font-weight:300;
  text-transform:none;
}
.app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li > a {
  color:var( --global-color-primary );
}
.app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li > a svg {
  fill:var( --global-color-primary );
}
.app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li:hover > a {
  color:var( --global-color-bbd710c );
  background-color:var( --global-color-accent );
}
.app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li:hover > a svg {
  fill:var( --global-color-bbd710c );
}
.app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li.current-menu-item > a {
  color:var( --global-color-bbd710c );
}
.app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li.current-menu-item > a svg {
  fill:var( --global-color-bbd710c );
}
.app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu > li.current-menu-item > a {
  background-color:var( --global-color-accent );
}
.app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children .sub-menu {
  min-width:220px;
}
.app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-hamburger-menu {
  float:right;
  background-color:#02010100;
  border-style:solid;
  border-color:#FFFFFF;
}
.app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu {
  background-color:#02010100;
  border-style:solid;
}
.app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-nav-site-title .jkit-nav-logo img {
  object-fit:cover;
}
/* Right panel */
.app-bc-flex-widget .app-home .app-element.app-element-main-header-nav-panel.app-column .app-widget-wrap {
  align-items:center;
}
.app-home .app-element.app-element-main-header-nav-panel.app-column.app-element[data-element_type="column"] > .app-widget-wrap.app-element-populated {
  align-content:center;
  align-items:center;
}
.app-home .app-element.app-element-main-header-nav-panel.app-column > .app-widget-wrap {
  justify-content:flex-end;
}
.app-home .app-element.app-element-main-header-nav-panel > .app-element-populated {
  padding:0;
}
/*Search*/
.app-home .app-element.app-widget-jkit_search .jeg-app-kit.jkit-search .jkit-search-modal i {
  font-size:20px;
}
.app-home .app-element.app-widget-jkit_search .jeg-app-kit.jkit-search .jkit-search-modal svg {
  width:20px;
  fill:var( --global-color-bbd710c );
}
.app-home .app-element.app-widget-jkit_search .jeg-app-kit.jkit-search .jkit-search-modal {
  color:var( --global-color-bbd710c );
  margin:0 15px 0 0;
  padding:0;
  text-align:center;
  width:40px;
  height:40px;
  line-height:40px;
}
.app-home .app-element.app-widget-jkit_search {
  width:auto;
  max-width:100%;
}

/*=========================================== Mobile =============================================================== */
@media (min-width: 768px) {
  .app.app-header {
    position: sticky;
    top: 0;
    z-index: 75;
  }
}
@media(max-width:1024px) and (min-width:768px) {
  .app-home .app-element.app-element-main-header-logo {
    width:50%;
  }
  .app-home .app-element.app-element-main-header-navbar {
    width:50%;
  }
}
/*============================================ 1024 =================================*/
@media(max-width:1024px) {
  .app-home .app-element.app-element-top-header-heading .app-heading-title {
    font-size:var( --global-typography-7334ccd-font-size );
  }
  .app-home .app-element.app-element-main-header {
    margin-top:0;
    margin-bottom:-80px;
    padding:15px;
  }
  /*Navigation*/
  .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-hamburger-menu {
    display: block;
  }
  .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper {
    width: 100%;
    max-width: 360px;
    border-radius: 0;
    background-color: #f7f7f7;
    position: fixed;
    top: 0;
    left: -110%;
    height: 100%!important;
    box-shadow: 0 10px 30px 0 rgba(255,165,0,0);
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    transition: left .6s cubic-bezier(.6,.1,.68,.53), width .6s;
  }
  .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper.active {
    left: 0;
  }
  .app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu.break-point-mobile .jkit-menu-wrapper {
    background-color:var( --global-color-secondary );
  }
  .app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu.break-point-tablet .jkit-menu-wrapper {
    background-color:var( --global-color-secondary );
  }
  .app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu > li > a {
    font-size:16px;
    color:var( --global-color-primary );
  }
  .app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu > li > a i {
    font-size:20px;
  }
  .app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu > li > a svg {
    width:20px;
    fill:var( --global-color-primary );
  }
  .app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children > a i,
  .app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children > a svg {
    margin:0;
    padding:0 20px 0 0;
  }
  .app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li a {
    font-size:16px;
    padding:10px 0 10px 25px;
  }
  .app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children .sub-menu {
    padding:0;
  }
  .app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-hamburger-menu i {
    font-size:24px;
  }
  .app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-hamburger-menu svg {
    width:24px;
    fill:#FFFFFF;
  }
  .app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-hamburger-menu {
    border-width:0;
    border-radius:0;
    color:#FFFFFF;
    margin:0;
    padding:0;
  }
  .app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu i {
    font-size:20px;
  }
  .app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu svg {
    width:20px;
  }
  .app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu {
    border-width:0;
    border-radius:0;
    margin:25px 22px 0 0;
  }
  .app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-nav-site-title .jkit-nav-logo img {
    max-width:109px;
  }
  .app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-nav-site-title .jkit-nav-logo {
    margin:20px 0 0 5px;
  }
  .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu-container {
    overflow-y: hidden;
  }
  .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel {
    padding: 10px 0;
    display: block;
    position: relative;
    z-index: 5;
    width: 100%;
  }
  .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-nav-site-title {
    display: inline-block;
  }
  .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu {
    display: block;
  }
  .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu {
    display: block;
    height: 100%;
    overflow-y: auto;
  }
  .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children > a i {
    margin-left: auto;
    border: 1px solid var(--jkit-border-color);
    border-radius: 3px;
    padding: 4px 15px;
  }
  .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children > a svg {
    margin-left: auto;
    border: 1px solid var(--jkit-border-color);
    border-radius: 3px;
  }
  .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children .sub-menu {
    position: inherit;
    box-shadow: none;
    background: none;
  }
  .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li {
    display: block;
    width: 100%;
    position: inherit;
  }
  .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li .sub-menu {
    display: none;
    max-height: 2500px;
    opacity: 0;
    visibility: hidden;
    transition: max-height 5s ease-out;
  }
  .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li .sub-menu.dropdown-open {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li a {
    display: block;
  }
  .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li a i {
    float: right;
  }
  .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li a svg {
    float: right
  }
  .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu-container {
    height: 100%;
  }
  .admin-bar .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper {
    top: 32px;
  }
  .admin-bar .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper {
    top: 46px;
  }
}
/*============================================ 767 ==================================*/
@media(max-width:767px) {
  .app-home .app-element.app-element-top-header-heading .app-heading-title {
    font-size:var( --global-typography-7334ccd-font-size );
  }
  .app-home .app-element.app-element-main-header {
    margin-top:0;
    margin-bottom:-90px;
  }
  .app-home .app-element.app-element-main-header-logo {
    width:70%;
  }
  .app-home .app-element.app-element-main-header-logo-image img {
    width:34%;
  }
  .app-home .app-element.app-element-main-header-navbar {
    width:30%;
  }
  /*Navigation*/
  .app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu > li > a {
    font-size:14px;
  }
  .app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li a {
    font-size:14px;
  }
  .app-home .app-element.app-element-main-header-navbar-menu .jeg-app-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-nav-site-title .jkit-nav-logo img {
    max-width:110px;
  }
}
