
a[role="button"] {
  cursor: pointer;
}
.comment-form label {
  line-height: 31.5px;
}
#rating {
  display: none;
}

/* ================================================ Mobile 1024 ========================================= */
@media(max-width:1024px) {

}
/* ================================================ Mobile 767 ========================================= */
@media(max-width:767px) {

}
