
a[role="button"] {
  cursor: pointer;
}
.comment-form label {
  line-height: 31.5px;
}
#rating {
  display: none;
}
.commerce ul.products li.product .button.view-cart-button {
  display: none;
  margin-left: 4px;
}
.commerce ul.products li.product .button.view-cart-button.active {
  display: inline-block;
}
/* ================================================ Mobile 1024 ========================================= */
@media(max-width:1024px) {

}
/* ================================================ Mobile 767 ========================================= */
@media(max-width:767px) {

}
