
.commerce .commerce-error .button,
.commerce .commerce-info .button,
.commerce .commerce-message .button,
.commerce-page .commerce-error .button,
.commerce-page .commerce-info .button,
.commerce-page .commerce-message .button {
  float:right
}
.commerce .col2-set,
.commerce-page .col2-set {
  width:100%
}
.commerce .col2-set::after,
.commerce .col2-set::before,
.commerce-page .col2-set::after,
.commerce-page .col2-set::before {
  content:" ";
  display:table
}
.commerce .col2-set::after,
.commerce-page .col2-set::after {
  clear:both
}
.commerce .col2-set .col-1,
.commerce-page .col2-set .col-1 {
  float:left;
  width:48%
}
.commerce .col2-set .col-2,
.commerce-page .col2-set .col-2 {
  float:right;
  width:48%
}
.commerce img,
.commerce-page img {
  height:auto;
  max-width:100%
}
.commerce #content div.product div.images,
.commerce div.product div.images,
.commerce-page #content div.product div.images,
.commerce-page div.product div.images {
  float:left;
  width:48%
}
.commerce #content div.product div.thumbnails::after,
.commerce #content div.product div.thumbnails::before,
.commerce div.product div.thumbnails::after,
.commerce div.product div.thumbnails::before,
.commerce-page #content div.product div.thumbnails::after,
.commerce-page #content div.product div.thumbnails::before,
.commerce-page div.product div.thumbnails::after,
.commerce-page div.product div.thumbnails::before {
  content:" ";
  display:table
}
.commerce #content div.product div.thumbnails::after,
.commerce div.product div.thumbnails::after,
.commerce-page #content div.product div.thumbnails::after,
.commerce-page div.product div.thumbnails::after {
  clear:both
}
.commerce #content div.product div.thumbnails a,
.commerce div.product div.thumbnails a,
.commerce-page #content div.product div.thumbnails a,
.commerce-page div.product div.thumbnails a {
  float:left;
  width:30.75%;
  margin-right:3.8%;
  margin-bottom:1em
}
.commerce #content div.product div.thumbnails a.last,
.commerce div.product div.thumbnails a.last,
.commerce-page #content div.product div.thumbnails a.last,
.commerce-page div.product div.thumbnails a.last {
  margin-right:0
}
.commerce #content div.product div.thumbnails a.first,
.commerce div.product div.thumbnails a.first,
.commerce-page #content div.product div.thumbnails a.first,
.commerce-page div.product div.thumbnails a.first {
  clear:both
}
.commerce #content div.product div.thumbnails.columns-1 a,
.commerce div.product div.thumbnails.columns-1 a,
.commerce-page #content div.product div.thumbnails.columns-1 a,
.commerce-page div.product div.thumbnails.columns-1 a {
  width:100%;
  margin-right:0;
  float:none
}
.commerce #content div.product div.thumbnails.columns-2 a,
.commerce div.product div.thumbnails.columns-2 a,
.commerce-page #content div.product div.thumbnails.columns-2 a,
.commerce-page div.product div.thumbnails.columns-2 a {
  width:48%
}
.commerce #content div.product div.thumbnails.columns-4 a,
.commerce div.product div.thumbnails.columns-4 a,
.commerce-page #content div.product div.thumbnails.columns-4 a,
.commerce-page div.product div.thumbnails.columns-4 a {
  width:22.05%
}
.commerce #content div.product div.thumbnails.columns-5 a,
.commerce div.product div.thumbnails.columns-5 a,
.commerce-page #content div.product div.thumbnails.columns-5 a,
.commerce-page div.product div.thumbnails.columns-5 a {
  width:16.9%
}
.commerce #content div.product div.summary,
.commerce div.product div.summary,
.commerce-page #content div.product div.summary,
.commerce-page div.product div.summary {
  float:right;
  width:48%;
  clear:none
}
.commerce #content div.product .commerce-tabs,
.commerce div.product .commerce-tabs,
.commerce-page #content div.product .commerce-tabs,
.commerce-page div.product .commerce-tabs {
  clear:both
}
.commerce #content div.product .commerce-tabs ul.tabs::after,
.commerce #content div.product .commerce-tabs ul.tabs::before,
.commerce div.product .commerce-tabs ul.tabs::after,
.commerce div.product .commerce-tabs ul.tabs::before,
.commerce-page #content div.product .commerce-tabs ul.tabs::after,
.commerce-page #content div.product .commerce-tabs ul.tabs::before,
.commerce-page div.product .commerce-tabs ul.tabs::after,
.commerce-page div.product .commerce-tabs ul.tabs::before {
  content:" ";
  display:table
}
.commerce #content div.product .commerce-tabs ul.tabs::after,
.commerce div.product .commerce-tabs ul.tabs::after,
.commerce-page #content div.product .commerce-tabs ul.tabs::after,
.commerce-page div.product .commerce-tabs ul.tabs::after {
  clear:both
}
.commerce #content div.product .commerce-tabs ul.tabs li,
.commerce div.product .commerce-tabs ul.tabs li,
.commerce-page #content div.product .commerce-tabs ul.tabs li,
.commerce-page div.product .commerce-tabs ul.tabs li {
  display:inline-block
}
.commerce #content div.product #reviews .comment::after,
.commerce #content div.product #reviews .comment::before,
.commerce div.product #reviews .comment::after,
.commerce div.product #reviews .comment::before,
.commerce-page #content div.product #reviews .comment::after,
.commerce-page #content div.product #reviews .comment::before,
.commerce-page div.product #reviews .comment::after,
.commerce-page div.product #reviews .comment::before {
  content:" ";
  display:table
}
.commerce #content div.product #reviews .comment::after,
.commerce div.product #reviews .comment::after,
.commerce-page #content div.product #reviews .comment::after,
.commerce-page div.product #reviews .comment::after {
  clear:both
}
.commerce #content div.product #reviews .comment img,
.commerce div.product #reviews .comment img,
.commerce-page #content div.product #reviews .comment img,
.commerce-page div.product #reviews .comment img {
  float:right;
  height:auto
}
.commerce ul.products,
.commerce-page ul.products {
  clear:both
}
.commerce ul.products::after,
.commerce ul.products::before,
.commerce-page ul.products::after,
.commerce-page ul.products::before {
  content:" ";
  display:table
}
.commerce ul.products::after,
.commerce-page ul.products::after {
  clear:both
}
.commerce ul.products li.product,
.commerce-page ul.products li.product {
  float:left;
  margin:0 3.8% 2.992em 0;
  padding:0;
  position:relative;
  width:22.05%;
  margin-left:0
}
.commerce ul.products li.first,
.commerce-page ul.products li.first {
  clear:both
}
.commerce ul.products li.last,
.commerce-page ul.products li.last {
  margin-right:0
}
.commerce ul.products.columns-1 li.product,
.commerce-page ul.products.columns-1 li.product {
  width:100%;
  margin-right:0
}
.commerce ul.products.columns-2 li.product,
.commerce-page ul.products.columns-2 li.product {
  width:48%
}
.commerce ul.products.columns-3 li.product,
.commerce-page ul.products.columns-3 li.product {
  width:30.75%
}
.commerce ul.products.columns-5 li.product,
.commerce-page ul.products.columns-5 li.product {
  width:16.95%
}
.commerce ul.products.columns-6 li.product,
.commerce-page ul.products.columns-6 li.product {
  width:13.5%
}
.commerce-page.columns-1 ul.products li.product,
.commerce.columns-1 ul.products li.product {
  width:100%;
  margin-right:0
}
.commerce-page.columns-2 ul.products li.product,
.commerce.columns-2 ul.products li.product {
  width:48%
}
.commerce-page.columns-3 ul.products li.product,
.commerce.columns-3 ul.products li.product {
  width:30.75%
}
.commerce-page.columns-5 ul.products li.product,
.commerce.columns-5 ul.products li.product {
  width:16.95%
}
.commerce-page.columns-6 ul.products li.product,
.commerce.columns-6 ul.products li.product {
  width:13.5%
}
.commerce .commerce-result-count,
.commerce-page .commerce-result-count {
  float:left
}
.commerce .commerce-ordering,
.commerce-page .commerce-ordering {
  float:right
}
.commerce .commerce-pagination ul.page-numbers::after,
.commerce .commerce-pagination ul.page-numbers::before,
.commerce-page .commerce-pagination ul.page-numbers::after,
.commerce-page .commerce-pagination ul.page-numbers::before {
  content:" ";
  display:table
}
.commerce .commerce-pagination ul.page-numbers::after,
.commerce-page .commerce-pagination ul.page-numbers::after {
  clear:both
}
.commerce .commerce-pagination ul.page-numbers li,
.commerce-page .commerce-pagination ul.page-numbers li {
  display:inline-block
}
.commerce #content table.cart img,
.commerce table.cart img,
.commerce-page #content table.cart img,
.commerce-page table.cart img {
  height:auto
}
.commerce #content table.cart td.actions,
.commerce table.cart td.actions,
.commerce-page #content table.cart td.actions,
.commerce-page table.cart td.actions {
  text-align:right
}
.commerce #content table.cart td.actions .input-text,
.commerce table.cart td.actions .input-text,
.commerce-page #content table.cart td.actions .input-text,
.commerce-page table.cart td.actions .input-text {
  width:108px;
}
.commerce #content table.cart td.actions .coupon,
.commerce table.cart td.actions .coupon,
.commerce-page #content table.cart td.actions .coupon,
.commerce-page table.cart td.actions .coupon {
  float:left
}
.commerce .cart-collaterals,
.commerce-page .cart-collaterals {
  width:100%
}
.commerce .cart-collaterals::after,
.commerce .cart-collaterals::before,
.commerce-page .cart-collaterals::after,
.commerce-page .cart-collaterals::before {
  content:" ";
  display:table
}
.commerce .cart-collaterals::after,
.commerce-page .cart-collaterals::after {
  clear:both
}
.commerce .cart-collaterals .related,
.commerce-page .cart-collaterals .related {
  width:30.75%;
  float:left
}
.commerce .cart-collaterals .cross-sells,
.commerce-page .cart-collaterals .cross-sells {
  width:48%;
  float:left
}
.commerce .cart-collaterals .cross-sells ul.products,
.commerce-page .cart-collaterals .cross-sells ul.products {
  float:none
}
.commerce .cart-collaterals .cross-sells ul.products li,
.commerce-page .cart-collaterals .cross-sells ul.products li {
  width:48%
}
.commerce .cart-collaterals .shipping_calculator,
.commerce-page .cart-collaterals .shipping_calculator {
  width:48%;
  clear:right;
  float:right
}
.commerce .cart-collaterals .shipping_calculator::after,
.commerce .cart-collaterals .shipping_calculator::before,
.commerce-page .cart-collaterals .shipping_calculator::after,
.commerce-page .cart-collaterals .shipping_calculator::before {
  content:" ";
  display:table
}
.commerce .cart-collaterals .shipping_calculator::after,
.commerce-page .cart-collaterals .shipping_calculator::after {
  clear:both
}
.commerce .cart-collaterals .shipping_calculator .col2-set .col-1,
.commerce .cart-collaterals .shipping_calculator .col2-set .col-2,
.commerce-page .cart-collaterals .shipping_calculator .col2-set .col-1,
.commerce-page .cart-collaterals .shipping_calculator .col2-set .col-2 {
  width:47%
}
.commerce .cart-collaterals .cart_totals,
.commerce-page .cart-collaterals .cart_totals {
  float:right;
  width:48%
}
.commerce ul.cart_list li::after,
.commerce ul.cart_list li::before,
.commerce ul.product_list_widget li::after,
.commerce ul.product_list_widget li::before,
.commerce-page ul.cart_list li::after,
.commerce-page ul.cart_list li::before,
.commerce-page ul.product_list_widget li::after,
.commerce-page ul.product_list_widget li::before {
  content:" ";
  display:table
}
.commerce ul.cart_list li::after,
.commerce ul.product_list_widget li::after,
.commerce-page ul.cart_list li::after,
.commerce-page ul.product_list_widget li::after {
  clear:both
}
.commerce ul.cart_list li img,
.commerce ul.product_list_widget li img,
.commerce-page ul.cart_list li img,
.commerce-page ul.product_list_widget li img {
  float:right;
  height:auto
}
.commerce form .form-row::after,
.commerce form .form-row::before,
.commerce-page form .form-row::after,
.commerce-page form .form-row::before {
  content:" ";
  display:table
}
.commerce form .form-row::after,
.commerce-page form .form-row::after {
  clear:both
}
.commerce form .form-row label,
.commerce-page form .form-row label {
  display:block
}
.commerce form .form-row label.checkbox,
.commerce-page form .form-row label.checkbox {
  display:inline
}
.commerce form .form-row select,
.commerce-page form .form-row select {
  width:100%
}
.commerce form .form-row .input-text,
.commerce-page form .form-row .input-text {
  box-sizing:border-box;
  width:100%
}
.commerce form .form-row-first,
.commerce form .form-row-last,
.commerce-page form .form-row-first,
.commerce-page form .form-row-last {
  width:47%;
  overflow:visible
}
.commerce form .form-row-first,
.commerce-page form .form-row-first {
  float:left
}
.commerce form .form-row-last,
.commerce-page form .form-row-last {
  float:right
}
.commerce form .form-row-wide,
.commerce-page form .form-row-wide {
  clear:both
}
.commerce form .password-input,
.commerce-page form .password-input {
  display:flex;
  flex-direction:column;
  justify-content:center;
  position:relative
}
.commerce form .password-input input[type=password],
.commerce-page form .password-input input[type=password] {
  padding-right:2.5rem
}
.commerce form .password-input input::-ms-reveal,
.commerce-page form .password-input input::-ms-reveal {
  display:none
}
.commerce form .show-password-input,
.commerce-page form .show-password-input {
  position:absolute;
  right:.7em;
  top:.7em;
  cursor:pointer
}
.commerce form .show-password-input::after,
.commerce-page form .show-password-input::after {
  font-family:commerce;
  speak:never;
  font-weight:400;
  font-variant:normal;
  text-transform:none;
  line-height:1;
  -webkit-font-smoothing:antialiased;
  margin-left:.618em;
  content:"\e010";
  text-decoration:none
}
.commerce form .show-password-input.display-password::after,
.commerce-page form .show-password-input.display-password::after {
  color:#585858
}
.commerce #payment .form-row select,
.commerce-page #payment .form-row select {
  width:auto
}
.commerce #payment .terms,
.commerce #payment .wc-terms-and-conditions,
.commerce-page #payment .terms,
.commerce-page #payment .wc-terms-and-conditions {
  text-align:left;
  padding:0 1em 0 0;
  float:left
}
.commerce #payment #place_order,
.commerce-page #payment #place_order {
  float:right
}
.commerce .commerce-billing-fields::after,
.commerce .commerce-billing-fields::before,
.commerce .commerce-shipping-fields::after,
.commerce .commerce-shipping-fields::before,
.commerce-page .commerce-billing-fields::after,
.commerce-page .commerce-billing-fields::before,
.commerce-page .commerce-shipping-fields::after,
.commerce-page .commerce-shipping-fields::before {
  content:" ";
  display:table
}
.commerce .commerce-billing-fields::after,
.commerce .commerce-shipping-fields::after,
.commerce-page .commerce-billing-fields::after,
.commerce-page .commerce-shipping-fields::after {
  clear:both
}
.commerce .commerce-terms-and-conditions,
.commerce-page .commerce-terms-and-conditions {
  margin-bottom:1.618em;
  padding:1.618em
}
.commerce .commerce-oembed,
.commerce-page .commerce-oembed {
  position:relative
}
.commerce-account .commerce-MyAccount-navigation {
  float:left;
  width:30%
}
.commerce-account .commerce-MyAccount-content {
  float:right;
  width:68%
}
.commerce-page.left-sidebar #content.twentyeleven {
  width:58.4%;
  margin:0 7.6%;
  float:right
}
.commerce-page.right-sidebar #content.twentyeleven {
  margin:0 7.6%;
  width:58.4%;
  float:left
}
.twentyfourteen .tfwc {
  padding:12px 10px 0;
  max-width:474px;
  margin:0 auto
}
.twentyfourteen .tfwc .product .entry-summary {
  padding:0!important;
  margin:0 0 1.618em!important
}
.twentyfourteen .tfwc div.product.hentry.has-post-thumbnail {
  margin-top:0
}
@media screen and (min-width:673px) {
  .twentyfourteen .tfwc {
    padding-right:30px;
    padding-left:30px
  }
}
@media screen and (min-width:1040px) {
  .twentyfourteen .tfwc {
    padding-right:15px;
    padding-left:15px
  }
}
@media screen and (min-width:1110px) {
  .twentyfourteen .tfwc {
    padding-right:30px;
    padding-left:30px
  }
}
@media screen and (min-width:1218px) {
  .twentyfourteen .tfwc {
    margin-right:54px
  }
  .full-width .twentyfourteen .tfwc {
    margin-right:auto
  }
}
.twentyfifteen .t15wc {
  padding-left:7.6923%;
  padding-right:7.6923%;
  padding-top:7.6923%;
  margin-bottom:7.6923%;
  background:#fff;
  box-shadow:0 0 1px rgba(0,0,0,.15)
}
.twentyfifteen .t15wc .page-title {
  margin-left:0
}
@media screen and (min-width:38.75em) {
  .twentyfifteen .t15wc {
    margin-right:7.6923%;
    margin-left:7.6923%;
    margin-top:8.3333%
  }
}
@media screen and (min-width:59.6875em) {
  .twentyfifteen .t15wc {
    margin-left:8.3333%;
    margin-right:8.3333%;
    padding:10%
  }
  .single-product .twentyfifteen .entry-summary {
    padding:0!important
  }
}
.twentysixteen .site-main {
  margin-right:7.6923%;
  margin-left:7.6923%
}
.twentysixteen .entry-summary {
  margin-right:0;
  margin-left:0
}
#content .twentysixteen div.product div.images,
#content .twentysixteen div.product div.summary {
  width:46.42857%
}
@media screen and (min-width:44.375em) {
  .twentysixteen .site-main {
    margin-right:23.0769%
  }
}
@media screen and (min-width:56.875em) {
  .twentysixteen .site-main {
    margin-right:0;
    margin-left:0
  }
  .no-sidebar .twentysixteen .site-main {
    margin-right:15%;
    margin-left:15%
  }
  .no-sidebar .twentysixteen .entry-summary {
    margin-right:0;
    margin-left:0
  }
}
.rtl .commerce .col2-set .col-1,
.rtl .commerce-page .col2-set .col-1 {
  float:right
}
.rtl .commerce .col2-set .col-2,
.rtl .commerce-page .col2-set .col-2 {
  float:left
}
