
@media (max-width: 768px) {
  .commerce table.shop_table_responsive thead,
  .commerce-page table.shop_table_responsive thead {
    display:none
  }
  .commerce table.shop_table_responsive tbody tr:first-child td:first-child,
  .commerce-page table.shop_table_responsive tbody tr:first-child td:first-child {
    border-top:0
  }
  .commerce table.shop_table_responsive tbody th,
  .commerce-page table.shop_table_responsive tbody th {
    display:none
  }
  .commerce table.shop_table_responsive tr,
  .commerce-page table.shop_table_responsive tr {
    display:block
  }
  .commerce table.shop_table_responsive tr td,
  .commerce-page table.shop_table_responsive tr td {
    display:block;
    text-align:right!important
  }
  .commerce table.shop_table_responsive tr td.order-actions,
  .commerce-page table.shop_table_responsive tr td.order-actions {
    text-align:left!important
  }
  .commerce table.shop_table_responsive tr td::before,
  .commerce-page table.shop_table_responsive tr td::before {
    content:attr(data-title) ": ";
    font-weight:700;
    float:left
  }
  .commerce table.shop_table_responsive tr td.actions::before,
  .commerce table.shop_table_responsive tr td.product-remove::before,
  .commerce-page table.shop_table_responsive tr td.actions::before,
  .commerce-page table.shop_table_responsive tr td.product-remove::before {
    display:none
  }
  .commerce table.shop_table_responsive tr:nth-child(2n) td,
  .commerce-page table.shop_table_responsive tr:nth-child(2n) td {
    background-color:rgba(0,0,0,.025)
  }
  .commerce table.my_account_orders tr td.order-actions,
  .commerce-page table.my_account_orders tr td.order-actions {
    text-align:left
  }
  .commerce table.my_account_orders tr td.order-actions::before,
  .commerce-page table.my_account_orders tr td.order-actions::before {
    display:none
  }
  .commerce table.my_account_orders tr td.order-actions .button,
  .commerce-page table.my_account_orders tr td.order-actions .button {
    float:none;
    margin:.125em .25em .125em 0
  }
  .commerce .col2-set .col-1,
  .commerce .col2-set .col-2,
  .commerce-page .col2-set .col-1,
  .commerce-page .col2-set .col-2 {
    float:none;
    width:100%
  }
  .commerce ul.products[class*=columns-] li.product,
  .commerce-page ul.products[class*=columns-] li.product {
    width:48%;
    float:left;
    clear:both;
    margin:0 0 2.992em
  }
  .commerce ul.products[class*=columns-] li.product:nth-child(2n),
  .commerce-page ul.products[class*=columns-] li.product:nth-child(2n) {
    float:right;
    clear:none!important
  }
  .commerce #content div.product div.images,
  .commerce #content div.product div.summary,
  .commerce div.product div.images,
  .commerce div.product div.summary,
  .commerce-page #content div.product div.images,
  .commerce-page #content div.product div.summary,
  .commerce-page div.product div.images,
  .commerce-page div.product div.summary {
    float:none;
    width:100%
  }
  .commerce #content table.cart .product-thumbnail,
  .commerce table.cart .product-thumbnail,
  .commerce-page #content table.cart .product-thumbnail,
  .commerce-page table.cart .product-thumbnail {
    display:none
  }
  .commerce #content table.cart td.actions,
  .commerce table.cart td.actions,
  .commerce-page #content table.cart td.actions,
  .commerce-page table.cart td.actions {
    text-align:left
  }
  .commerce #content table.cart td.actions .coupon,
  .commerce table.cart td.actions .coupon,
  .commerce-page #content table.cart td.actions .coupon,
  .commerce-page table.cart td.actions .coupon {
    float:none;
    padding-bottom:.5em
  }
  .commerce #content table.cart td.actions .coupon::after,
  .commerce #content table.cart td.actions .coupon::before,
  .commerce table.cart td.actions .coupon::after,
  .commerce table.cart td.actions .coupon::before,
  .commerce-page #content table.cart td.actions .coupon::after,
  .commerce-page #content table.cart td.actions .coupon::before,
  .commerce-page table.cart td.actions .coupon::after,
  .commerce-page table.cart td.actions .coupon::before {
    content:" ";
    display:table
  }
  .commerce #content table.cart td.actions .coupon::after,
  .commerce table.cart td.actions .coupon::after,
  .commerce-page #content table.cart td.actions .coupon::after,
  .commerce-page table.cart td.actions .coupon::after {
    clear:both
  }
  .commerce #content table.cart td.actions .coupon .button,
  .commerce #content table.cart td.actions .coupon .input-text,
  .commerce #content table.cart td.actions .coupon input,
  .commerce table.cart td.actions .coupon .button,
  .commerce table.cart td.actions .coupon .input-text,
  .commerce table.cart td.actions .coupon input,
  .commerce-page #content table.cart td.actions .coupon .button,
  .commerce-page #content table.cart td.actions .coupon .input-text,
  .commerce-page #content table.cart td.actions .coupon input,
  .commerce-page table.cart td.actions .coupon .button,
  .commerce-page table.cart td.actions .coupon .input-text,
  .commerce-page table.cart td.actions .coupon input {
    width:48%;
    box-sizing:border-box
  }
  .commerce #content table.cart td.actions .coupon .button.alt,
  .commerce #content table.cart td.actions .coupon .input-text+.button,
  .commerce table.cart td.actions .coupon .button.alt,
  .commerce table.cart td.actions .coupon .input-text+.button,
  .commerce-page #content table.cart td.actions .coupon .button.alt,
  .commerce-page #content table.cart td.actions .coupon .input-text+.button,
  .commerce-page table.cart td.actions .coupon .button.alt,
  .commerce-page table.cart td.actions .coupon .input-text+.button {
    float:right
  }
  .commerce #content table.cart td.actions .button,
  .commerce table.cart td.actions .button,
  .commerce-page #content table.cart td.actions .button,
  .commerce-page table.cart td.actions .button {
    display:block;
    width:100%
  }
  .commerce .cart-collaterals .cart_totals,
  .commerce .cart-collaterals .cross-sells,
  .commerce .cart-collaterals .shipping_calculator,
  .commerce-page .cart-collaterals .cart_totals,
  .commerce-page .cart-collaterals .cross-sells,
  .commerce-page .cart-collaterals .shipping_calculator {
    width:100%;
    float:none;
    text-align:left
  }
  .commerce-page.commerce-checkout form.login .form-row,
  .commerce.commerce-checkout form.login .form-row {
    width:100%;
    float:none
  }
  .commerce #payment .terms,
  .commerce-page #payment .terms {
    text-align:left;
    padding:0
  }
  .commerce #payment #place_order,
  .commerce-page #payment #place_order {
    float:none;
    width:100%;
    box-sizing:border-box;
    margin-bottom:1em
  }
  .commerce .lost_reset_password .form-row-first,
  .commerce .lost_reset_password .form-row-last,
  .commerce-page .lost_reset_password .form-row-first,
  .commerce-page .lost_reset_password .form-row-last {
    width:100%;
    float:none;
    margin-right:0
  }
  .commerce-account .commerce-MyAccount-content,
  .commerce-account .commerce-MyAccount-navigation {
    float:none;
    width:100%
  }
  .single-product .twentythirteen .panel {
    padding-left:20px!important;
    padding-right:20px!important
  }
}
