.app-widget-divider {
  --divider-border-style:none;
  --divider-border-width:1px;
  --divider-color:#0c0d0e;
  --divider-icon-size:20px;
  --divider-element-spacing:10px;
  --divider-pattern-height:24px;
  --divider-pattern-size:20px;
  --divider-pattern-url:none;
  --divider-pattern-repeat:repeat-x
}
.app-widget-divider .app-divider {
  display:flex
}
.app-widget-divider .app-divider__text {
  font-size:15px;
  line-height:1;
  max-width:95%
}
.app-widget-divider .app-divider__element {
  margin:0 var(--divider-element-spacing);
  flex-shrink:0
}
.app-widget-divider .app-icon {
  font-size:var(--divider-icon-size)
}
.app-widget-divider .app-divider-separator {
  display:flex;
  margin:0;
  direction:ltr
}
.app-widget-divider--view-line_icon .app-divider-separator,
.app-widget-divider--view-line_text .app-divider-separator {
  align-items:center
}
.app-widget-divider--view-line_icon .app-divider-separator:after,
.app-widget-divider--view-line_icon .app-divider-separator:before,
.app-widget-divider--view-line_text .app-divider-separator:after,
.app-widget-divider--view-line_text .app-divider-separator:before {
  display:block;
  content:"";
  border-bottom:0;
  flex-grow:1;
  border-top:var(--divider-border-width) var(--divider-border-style) var(--divider-color)
}
.app-widget-divider--element-align-left .app-divider .app-divider-separator>.app-divider__svg:first-of-type {
  flex-grow:0;
  flex-shrink:100
}
.app-widget-divider--element-align-left .app-divider-separator:before {
  content:none
}
.app-widget-divider--element-align-left .app-divider__element {
  margin-left:0
}
.app-widget-divider--element-align-right .app-divider .app-divider-separator>.app-divider__svg:last-of-type {
  flex-grow:0;
  flex-shrink:100
}
.app-widget-divider--element-align-right .app-divider-separator:after {
  content:none
}
.app-widget-divider--element-align-right .app-divider__element {
  margin-right:0
}
.app-widget-divider:not(.app-widget-divider--view-line_text):not(.app-widget-divider--view-line_icon) .app-divider-separator {
  border-top:var(--divider-border-width) var(--divider-border-style) var(--divider-color)
}
.app-widget-divider--separator-type-pattern {
  --divider-border-style:none
}
.app-widget-divider--separator-type-pattern.app-widget-divider--view-line .app-divider-separator,
.app-widget-divider--separator-type-pattern:not(.app-widget-divider--view-line) .app-divider-separator:after,
.app-widget-divider--separator-type-pattern:not(.app-widget-divider--view-line) .app-divider-separator:before,
.app-widget-divider--separator-type-pattern:not([class*=app-widget-divider--view]) .app-divider-separator {
  width:100%;
  min-height:var(--divider-pattern-height);
  -webkit-mask-size:var(--divider-pattern-size) 100%;
  mask-size:var(--divider-pattern-size) 100%;
  -webkit-mask-repeat:var(--divider-pattern-repeat);
  mask-repeat:var(--divider-pattern-repeat);
  background-color:var(--divider-color);
  -webkit-mask-image:var(--divider-pattern-url);
  mask-image:var(--divider-pattern-url)
}
.app-widget-divider--no-spacing {
  --divider-pattern-size:auto
}
.app-widget-divider--bg-round {
  --divider-pattern-repeat:round
}
.rtl .app-widget-divider .app-divider__text {
  direction:rtl
}
.app-con-inner>.app-widget-divider,
.app-con>.app-widget-divider {
  width:var(--container-widget-width,100%);
  --flex-grow:var(--container-widget-flex-grow)
}
