
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: -45px;
  z-index: 10;
  border-radius: 0.25rem;
  color: var( --global-color-primary );
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: none;
}

@media (min-width: 768px) {

  .swiper-button-next,
  .swiper-button-prev {
    top: -4rem;
  }
}
.swiper-button-next:not(.swiper-button-disabled), .swiper-button-prev:not(.swiper-button-disabled) {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.swiper-button-prev {
  right: 3.5rem;
}

@media (min-width: 768px) {

  .swiper-button-prev {
    right: 2.5rem;
  }
}

.swiper-button-next {
  right: 1rem;
}

@media (min-width: 768px) {

  .swiper-button-next {
    right: 0;
  }
}
.swiper-button-disabled {
  cursor: not-allowed;
  opacity: 0.3 !important;
}
