<!-- https://kenwheeler.github.io/slick/ -->

<!-- Slick container design-1 -->
<div class="apsisac-slick-init apsisac-slick-carousal design-1 apsisac-image-fit">
  <!-- Slide -->
  <div class="apsisac-image-slide">
    <div class="apsisac-image-slide-wrap" style="height:300px;">
      <img src="/assets/images/back-view-blur-blurred-background.jpg" alt="slide" decoding="async">
    </div>
  </div>
  <!-- Slide -->
</div>
<!-- Pro version -->
<!-- Slick -->
<div class="app-element app-widget">
  <div class="app-widget-container">
    <div class="app-widget-slick apsisac-clearfix">
      <!-- Slick container -->
      <div class="apsisac-slick apsisac-slick-init apsisac-slick-carousal apsisac-slick-carousal-slider apsisac-prodesign-18 apsisac-arrow-design-1 apsisac-dots-design-1 apsisac-image-fit">
        <!-- Slide -->
        <div class="apsisac-slick-image-slide">
          <div class="apsisac-slide-wrap">
            <!--  Image -->
            <div class="apsisac-img-wrap" style="height: 548px;">
              <img class="apsisac-slider-img img-aspect" src="/assets/images/Kukuro_Bra_Front1_1.jpg" alt="Kukuro Red Bra" decoding="async">
            </div>
            <!-- Content -->
            <div class="apsisac-slider-content">
              <div class="apsisac-show-hide-content">
                <h2 class="apsisac-slide-title">Travel Sexy</h2>
                <div class="wpsisac-slider-short-content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="apsisac-readmore">
                  <a href="https://www.essentialplugin.com" class="apsisac-slider-readmore" target="_self" tabindex="-1">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Overlay -->
          <a class="apsisac-link-overlay" href="https://www.essentialplugin.com" target="_self" tabindex="-1"></a>
        </div>
      </div>
    </div>
  </div>
</div>
